@{
    ViewData["Title"] = "Career Cloud";
}

    <div class="text-center">
        <h1 class="display-4">Ready to drive your career to greater heights?</h1>
        <img src="https://images.unsplash.com/photo-1459180129673-eefb56f79b45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" />
    </div>
