@model IEnumerable<CareerCloud.Pocos.ApplicantJobApplicationPoco>

@{
    ViewData["Title"] = "Index";
}


@* linking to Applicant Job Application Index as Partial View *@
<div>
    <partial name="~/Views/_ApplicantJobApplication.cshtml" model="@Model.ToList()" />
</div>

