@model IEnumerable<CareerCloud.Pocos.ApplicantEducationPoco>

@{
    ViewData["Title"] = "Applicant Education";
}

@* linking to Applicant Education Index as Partial View *@
    <div>
        <partial name="~/Views/_ApplicantEducation.cshtml" model="@Model.ToList()" />
    </div>

