@model IEnumerable<CareerCloud.Pocos.ApplicantSkillPoco>

@{
    ViewData["Title"] = "Applicant Skills";
}

@* linking to Applicant Skill Index as Partial View *@
<div>
    <partial name="~/Views/_ApplicantSkill.cshtml" model="@Model.ToList()" />
</div>
