@model IEnumerable<CareerCloud.Pocos.CompanyJobPoco>

@{
    ViewData["Title"] = "Company Job";
}

@* linking to Company Job Index as Partial View *@
<div>
    <partial name="~/Views/_CompanyJob.cshtml" model="@Model.ToList()" />
</div>
