@model IEnumerable<CareerCloud.Pocos.CompanyLocationPoco>

@{
    ViewData["Title"] = "Company Locations";
}

@* linking to Company Location Index as Partial View *@
<div>
    <partial name="~/Views/_CompanyLocation.cshtml" model="@Model.ToList()" />
</div>


