@model IEnumerable<CareerCloud.Pocos.ApplicantResumePoco>

@{
    ViewData["Title"] = "Applicant Resume";

}

@* linking to Applicant Resume Index as Partial View *@
<div>
    <partial name="~/Views/_ApplicantResume.cshtml" model="@Model.ToList()" />
</div>

