@model IEnumerable<CareerCloud.Pocos.CompanyDescriptionPoco>

@{
    ViewData["Title"] = "Company Description";
}

@* linking to Applicant Education Index as Partial View *@
<div>
    <partial name="~/Views/_CompanyDescription.cshtml" model="@Model.ToList()" />
</div>

