@model IEnumerable<CareerCloud.Pocos.ApplicantWorkHistoryPoco>

@{
    ViewData["Title"] = "Index";
}

@* linking to Applicant Work History Index as Partial View *@
<div>
    <partial name="~/Views/_ApplicantWorkHistory.cshtml" model="@Model.ToList()" />
</div>